*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
build
.idea
gradle
proguard-rules.pro
mqttlib/build/intermediates/blame/res/androidTest/debug/multi-v2/values-be.json
mqttlib/build/intermediates/attr/R.txt
mqttlib/build/intermediates/attr/R.txt
mqttlib/build/intermediates/blame/res/androidTest/debug/multi-v2/debug.json
mqttlib/build/intermediates/blame/res/androidTest/debug/multi-v2/values-af.json
